body {
    background-color: #f8f9fa;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    padding-top: 50px;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0069d9;
    border-color: #0062cc;
}

.btn-primary:focus, .btn-primary.focus {
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.btn-primary.disabled, .btn-primary:disabled {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show>.btn-primary.dropdown-toggle {
    background-color: #0062cc;
    border-color: #005cbf;
}

.text-primary {
    color: #007bff;
}


#video-background {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: -1;
}

#result > div {
    animation-name: jump;
    animation-duration: 0.05s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    color: yellow;
    font-weight: 800;
    font-size: 50px;
}

@keyframes jump {
    0% {
        transform: translateY(0);
    }
    20% {
        transform: translateY(-20px);
    }
    40% {
        transform: translateY(0);
    }
    60% {
        transform: translateY(-10px);
    }
    80% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(0);
    }
}

#logo-btc {
    position: fixed;
    top: 20px;
    left: 20px;
}


#logo-ntt {
    position: fixed;
    top: 20px;
    right: 20px;
}